.sidebar {
    width: 340px;
    position: relative;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .sidebarItem {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
  }
  
  .sidebarItem.active {
    border-left: 4px solid black;
  }
  
  .itemContent {
    width: 100%;
    color: #2d2d2d;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  
  .stepIndicators {
    width: 24px;
    height: 261px;
    position: absolute;
    right: 0;
    top: 0;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 22.5px;
  }
  
  .indicator {
    width: 24px;
    height: 24px;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    outline: 1px #919bac solid;
  }
  
  .indicator.completed {
    background: #0c91d3;
    outline: 1px #0c91d3 solid;
  }
  
  .indicatorNumber {
    color: #919bac;
    font-size: 13px;
    font-family: "Montagu Slab", serif;
    font-weight: 500;
  }
  
  .indicator.completed .indicatorNumber {
    color: white;
  }
  
  .indicator:not(.completed):nth-child(-n + 4) {
    background: white;
    outline: 1px #0c91d3 solid;
  }
  
  .indicator:not(.completed):nth-child(-n + 4) .indicatorNumber {
    color: #0c91d3;
  }
  